<!DOCTYPE html>
<html {{ site.language_attributes }}>

{% include 'site-header.twig' %}

<body class="{{ body_class }} font-lato antialiased pt-12">

    {% include '/components/top-nav.twig' %}

    {% block content %}
    <p>Sorry, no content</p>
    {% endblock %}

    {% include 'site-footer.twig' %}

</body>

</html>