{% extends "site-base.twig" %}

{% set garage_2 = theme.path ~ '/assets/images/garage_2.jpg' %}

{% block content %}

<div>

  {% embed "components/hero-heading.twig" with {'bg_image': garage_2 } %}
    {% block content %}
      <h1 class="text-white font-old-standard text-6xl font-bold max-w-5xl mb-6 mx-auto text-center leading-tight">Here to Haul Away Junk Whenever You Need Us</h1>
      <p class="text-2xl text-white max-w-3xl mx-auto text-center mb-12 py-3 px-4 bg-[#0016A2]/70 [clip-path:polygon(98%_0,_100%_50%,_98%_100%,_2%_100%,_0_50%,_2%_0)]">We provide emergency junk removal in Grand Island, NY and the Western NY area</p>
      <div class="text-center">
        <a class="bg-white text-sm uppercase text-[#0016A2] py-2.5 px-5 rounded-sm font-bold tracking-widest inline-flex hover:rounded-[32px] hover:text-white hover:bg-[#0016A2] transition-all duration-300" href="/contact-us">Contact Us Today</a>
      </div>
    {% endblock %}
  {% endembed %}


{% set dumpster_2 = theme.path ~ '/assets/images/dumpster_2.jpg' %}

  <div class="max-w-6xl mx-auto py-16">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <div>
        <img src="{{dumpster_2}}" alt="">
      </div>
      <div class="text-lg">
          <p class="mb-3">If you're dealing with storm damage of any kind, you can count on the team of Alpha Junk Removal & Services to help you haul away any debris quickly. We provide emergency junk removal services and will be there when you need us. From removing water-damaged furniture to hauling away roof demolition debris, we are ready to help you.</p>
          <p>Call 716-783-1085 now for emergency cleanout services in Grand Island, NY and the Western NY area.</p>
      </div>
    </div>
  </div>

  <div class="max-w-6xl mx-auto py-16">

    <div class="text-center mb-24">
      <h2 class="font-old-standard text-4xl text-[#0016A2] font-bold mb-3">How quickly can we be on the scene?</h2>
      <p class="text-lg max-w-4xl mx-auto">We're glad you asked. If you need emergency junk removal, please try to let us know one day in advance. This way we can have all the resources necessary to help you out completely. Once we're on the scene, you can expect us to:</p>
    </div>

  {% set services = [{
    label: 'Clean Out Your Property Safely and Quickly',
  },
  {
    label: 'Haul Away Any Furniture or Appliance',
  },
  {
    label: 'Provide Personable Customer Service',
  }] %}

    <div class="grid grid-cols-1 md:grid-cols-3 mb-24 gap-12">
      {% for service in services %}
      <div class="group flex items-center justify-center border-[5px] border-[#0016A2] bg-white rounded-sm p-8 hover:rounded-3xl hover:bg-[#0016A2] hover:scale-110 hover:shadow-2xl transition-all duration-300">
        <div class="text-center">
          <p class="font-old-standard uppercase font-bold text-lg text-[#0016A2] group-hover:text-white duration-300">{{service.label}}</p>
        </div>
      </div>
      {% endfor %}
    </div>


  <div class="max-w-4xl mx-auto py-16">
    <p class="text-center text-lg">We want you to know that we're always here to help you. When you need emergency cleanout services, reach out to us.</p>
  </div>

</div>

{% endblock content %}
