{% extends "site-base.twig" %}

{% set cleaning_1 = theme.path ~ '/assets/images/cleaning_1.jpg' %}

{% block content %}

<div>

  {% embed "components/hero-heading.twig" with { 'bg_image': cleaning_1 } %}
    {% block content %}
      <h1 class="text-white font-old-standard text-4xl lg:text-6xl font-bold max-w-5xl mb-6 mx-auto text-center leading-tight">Need a Dumpster Rental?</h1>
      <p class="text-xl lg:text-2xl text-white max-w-3xl mx-auto text-center mb-12 py-3 px-4 bg-[#0016A2]/70 [clip-path:polygon(98%_0,_100%_50%,_98%_100%,_2%_100%,_0_50%,_2%_0)]">Depend on us for dumpster services in Grand Island, NY and the Western NY area</p>
      <div class="text-center">
        <a class="bg-white text-sm uppercase text-[#0016A2] py-2.5 px-5 rounded-sm font-bold tracking-widest inline-flex hover:rounded-[32px] hover:text-white hover:bg-[#0016A2] transition-all duration-300" href="/contact-us">Contact Us Today</a>
      </div>
    {% endblock %}
  {% endembed %}


{% set garage_1 = theme.path ~ '/assets/images/garage_1.jpg' %}

  <div class="container mx-auto py-16 px-4">
    <div class="grid lg:grid-cols-2 gap-12 items-center">
      <div>
        <img src="{{garage_1}}" alt="">
      </div>
      <div class="text-lg">
          <p class="mb-3">Losing a loved one is already hard enough without having to go through their belongings. If you're in the process of finalizing an estate, Alpha Junk Removal & Services can help lighten your load with estate cleanout services. Our reliable team will clean out your loved one's estate from top to bottom. We'll even make sure to sweep and vacuum.</p>
          <p>Call 716-783-1085 now to let us handle your estate cleanout in Grand Island, NY and the Western NY area.</p>
      </div>
    </div>
  </div>

  <div class="container mx-auto py-16 px-4">

    <div class="text-center mb-24">
      <h2 class="font-old-standard text-3xl lg:text-4xl text-[#0016A2] font-bold mb-3">Are you currently out-of-state? We can still help.</h2>
      <div class="max-w-4xl mx-auto">
        <p class="text-lg mb-6">We want to completely support our customers. That's why we can take care of things without you physically being there for the estate cleanout. After a quick discussion about the job, you can electronically sign the contract for us to get started. Then, we'll take care of the rest.</p>
        <p class="text-center text-lg">We'll be there to help in every way. If you're in need of assistance, don't hesitate to contact us for estate cleanout services.</p>
      </div>
    </div>

</div>

{% endblock content %}
